<p class="buzz-word" id="one">elevate</p>
<p class="buzz-word" id="two">transform</p>
<p class="buzz-word" id="three">strenghten</p>
<p class="buzz-word" id="four">ignite</p>
<p class="buzz-word" id="five">empower</p>


