html {
    box-sizing: border-box;
    font-size: 16pt;
  }
  body {
   min-height: 100vh;
   display: grid;
   margin: 0; 
   padding: 0 0 2em 0;
  }

  @font-face {
    font-family: 'Okinawa';
    src: url('/fonts/Okinawa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  .grid {
      display: grid;
      grid: auto / repeat(3, 2fr);
      place-items: center;
      gap: 3em;
      row-gap: 2em;
      width: 90%;
      margin: 1em auto 0 auto;
  }

  @media screen and (max-width: 950px) {
    .grid {grid: auto / 1fr 1fr; width: 90%; gap: 1em;}
  }
  @media screen and (max-width: 700px) {
    .grid {grid: auto / 1fr; width: 85%; gap: .5em;}
      .container {
        margin: auto
      }
  }
  
  .container {
    perspective: 1000px;
  }
  
  .card {  
      position: relative;
      border-radius: 8px;
      box-shadow: 0 5px 40px -10px grey;
      transform-style: preserve-3d;
      transition: 0.6s;
  }
      .container:hover .card {
          transform: rotateY(180deg);
      }
  /* Stops cards flipping on small screens */
      @media screen and (max-width: 900px) {
      .container {
        perspective: 1px;
        transform: none;
        }
      .container .back {
        z-index: 2;
        opacity: 0;
        transition-duration: 0.6s;
        transform: none;
      }
      .container .card:focus,
      .container .card:focus-within,
      .container .card:hover {
        transform: none;
      }
      .container .card:focus .back,
      .container .card:focus-within .back,
      .container .card:hover .back {
        opacity: 1;
        transform: none;
      }
  }
  
  
  .front {
    background: transparent;
  }
  .front img {
    border-radius: 9px;
  }
  
  .front, .back {
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
      border-radius: 10px;
  }
  
  .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      background: #13616d;
      transform: rotateY(180deg);
  }
  .back p {
      text-align: center;
      font-family: arial;
      line-height: 1.5em;
      margin: 0;
      padding: 0 25px;
      color: #d7dde4;
      vertical-align: middle;
  }
  
  .img {
      max-width: 100%;
  }
  
  .button {
      border: 1px solid white;
      border-radius: 10px;
      background: none;
      color: white;
      font-size: 1rem;
      font-weight: lighter;
      padding: .15rem .5rem;
      transition-duration: 0.25s;
      cursor: pointer;
  }
  
  .button:hover,
  .button:focus {
      background: transparent;
      color: cornflowerblue;
      box-shadow: 0 5px 20px -5px navy;
  }

