---
import "./benefits.css";
---
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Imperial+Script&display=swap" rel="stylesheet">

<div class="section-title"><h1>How Can We Help?</h1></div>


<div class="grid">
  <div class="container">
    <div class="card">
      <div class="front">
        <img src="https://picsum.photos/id/239/500/350" alt="" />
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <img src="https://picsum.photos/id/239/500/350" alt="" />
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <img src="https://picsum.photos/id/239/500/350" alt="" />
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->
<!-- End 1st row -->

<!-- 2nd row -->
  <div class="container">
    <div class="card">
      <div class="front">
        <img src="https://picsum.photos/id/239/500/350" alt="" />
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <img src="https://picsum.photos/id/24/500/350" alt="" />
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <!-- <div class="container">
    <div class="card">
      <div class="front">
        <img src="https://picsum.photos/id/116/500/350" alt="" />
      </div>  End front -->
      <!-- <div class="back">
          <p></p>
            <button>Read more</button>
      </div> End back -->
    <!-- </div> 
  </div>  -->
</div> <!-- End grid -->
<!-- End 2nd row -->
