---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Custom Branding",
    description:
      "Create a unique identity for your business with custom logos, color and more."
  },
  {
    title: "Printed Designs",
    description:
      "Custom Printed Designs from letters, flyers and so much more."
  },
  {
    title: "Social Media",
    description:
      "Stand out among your competition & grow traffic to your social media platforms."
  },
  {
    title: "Digital Marketing",
    description:
      "Websites, Google Advertising, SEO, we have got you covered."
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    How Can We Help?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Draft: Let us revitalize your brand and do other cool stuff.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
