---
import { Image } from "astro:assets";
import signature from "../assets/signature.png";
import jessie from "../assets/JessieWSig.png"
---

<footer class="bg-transparent mt-10">
  <div class="w-full mx-auto mt-2">
  <span class="block text-center text-xs  text-zinc-400 sm:text-center">
    Copyright © {new Date().getFullYear()} J+R Coastal Marketing. All rights reserved.
    <br />
    Made by J+R Coastal Marketing
    <br />
    Isaiah 42:13
  </span>
</div>
</footer>






<!-- <footer class="footer bg-base-200 p-10 flex flex-col">
  <aside>
    <div class="mask mask-circle relative">
      <Image src={jessie} alt="headshot"/>
    </div>
    <div class="bg-white p-2 border border-solid bg-teal-400/20 absolute left-0">
    <Image src={signature} alt="signature"/>
    </div>
  </div>
  </aside>
  <p class="flex-end text-center">
    Copyright © {new Date().getFullYear()} J+R Coastal Marketing. All rights reserved.
    <br />
    Made by J+R Coastal Marketing
  </p>
</footer> -->









</footer>
