---
import { Image } from "astro:assets";
import signature from "../assets/signature.png";
import jessie from "../assets/jessie.png"
---
<footer class="footer bg-base-200 p-10 flex flex-col">
  <aside>
    <div class="mask mask-circle relative">
      <Image src={jessie} alt="headshot"/>
    </div>
    <div class="bg-white p-2 border border-solid bg-teal-400/20 absolute left-0">
    <Image src={signature} alt="signature"/>
    </div>
  </div>
  </aside>
  <p class="flex-end text-center">
    Copyright © {new Date().getFullYear()} J+R Coastal Marketing. All rights reserved.
    <br />
    Made by J+R Coastal Marketing
  </p>
</footer>









</footer>
