---
import "./hero.css";
import header from "../assets/header.jpg"

---

<div
  class="hero min-h-screen"
  style="background-image: url('/pictures/header.jpg')">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text text-neutral-content w-screen md:w-[800px]">
  <div class="invisible md:visible">
    <h2 class="rw sentence">
      <span>It's time to </span>
      <div class="rw-words rw-words-1">
        <span>elevate</span>
        <span>transform</span>
        <span>revitalize</span>  
        <span>ignite</span>
        <span>empower</span>
      </div>
    </h2>
    <h3>your brand.</h3>
  </div>
  <div class="md:hidden">
    <h2 class="rw sentence text-[30px]">
      <span>It's time to </span>
      <div class="rw-words rw-words-1 text-[5px]">
        <span class="text-[2px]">elevate</span>
        <span class="text-[2px]">transform</span>
        <span class="text-[2px]">revitalize</span>  
        <span class="text-[2px]">ignite</span>
        <span class="text-[2px]">empower</span>
      </div>
    </h2>
    <h3 class="text-[30px]">your brand.</h3>
  </div>
    <p class="text-pretty p-5">
      As a woman- and veteran-owned business, J+R Coastal Marketing brings
      discipline, creativity, and collaboration to every campaign—working side
      by side with you to achieve remarkable results.
    </p>
  </div>
  <div class="">
    <button class="btn btn-one" onclick="my_modal_3.showModal()">Let's Grow Together</button>
  </div>
</div>

<dialog id="my_modal_3" class="modal">
  <div class="modal-box flex flex-col items-center gap-2">
    
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      <label class="form-control w-full max-w-xs">
      <label class="input input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Name" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Email" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Phone Number" />
      </label>
      <label class="input input-bordered input-lg flex items-center gap-2">
        <input type="text" class="grow" placeholder="Message" />
      </label>
    </label>
  </form>
  <button class="btn">Send</button>
    </div>
</dialog>
