---
import "./hero.css";

import { Icon } from 'astro-icon/components'
---

<div
  class="hero min-h-screen"
  style="background-image: url('/pictures/header.jpg')">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content flex-col text-neutral-content">
    <div class="md:grid md:grid-cols-2 md:place-items-center md:mt-11">
      <div class="text-5xl text-center mt-10 text-nowrap md:mt-6"><h1>It's time to</h1></div>
        <div class="rw-words-1 text-center text-8xl md:text-9xl md:[31px] md:mt-6">
          <div>elevate</div>
        <!-- <div>elevate</div>
        <div>transform</div>
        <div>revitalize</div>  
        <div>ignite</div>
        <div>empower</div> -->
        </div>
        <h3 class="text-5xl text-center md:col-span-2 md:-mt-6">your brand.</h3>
      </div>
      <p class="text-pretty text-center text-sm/6 p-5 md:max-w-xl md:text-lg">
      As a woman- and veteran-owned business, J+R Coastal Marketing brings
      discipline, creativity, and collaboration to every campaign—working side
      by side with you to achieve remarkable results.
      </p>
      <button class="btn btn-one" onclick="heroContact.showModal()">Let's Grow Together</button>
  </div>
</div>

<dialog id="heroContact" class="modal">
    <div class="modal-box max-w-xs">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <div class="flex flex-col items-center gap-1">
      <h2 class="text-center text-xl mb-3">Let's Chat!</h2>
      <label class="input input-bordered flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path
            d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
          <path
            d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
        </svg>
        <input type="text" class="grow" placeholder="Email" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
        </svg>
        <input type="text" class="grow" placeholder="Name" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1m-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5m4.5-4H7V4h9z" />
        </svg>
        <input type="text" class="grow" placeholder="Phone" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path d="M20 2H4a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2" />
        </svg>
        <input type="text" class="grow" placeholder="Message" />
      </label>
      <button class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24">
          <g fill="none">
            <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
            <path fill="currentColor" d="m21.433 4.861l-6 15.5a1 1 0 0 1-1.624.362l-3.382-3.235l-2.074 2.073a.5.5 0 0 1-.853-.354v-4.519L2.309 9.723a1 1 0 0 1 .442-1.691l17.5-4.5a1 1 0 0 1 1.181 1.329ZM19 6.001L8.032 13.152l1.735 1.66L19 6Z" />
          </g>
        </svg>
        Send it.
      </button>
      <div class="divider m-0"></div>
      <div class="flex flex-row gap-5">
        <a href="https://www.facebook.com/jrcoastalmarketingllc">
          <button class="btn btn-ghost btn-circle">
            <Icon name="mdi:facebook" class="h-8 w-8"/>     
          </button>
        </a>
        <a href="">
          <button class="btn btn-ghost btn-circle">
            <Icon name="mdi:instagram" class="h-8 w-8"/>
            </div>
          </button>
        </a>
      </div>
  </div>
</dialog>
