---
import "./hero.css";
---

<div
  class="hero min-h-screen"
  style="background-image: url(/src/assets/header.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">It's time to elevate your brand</h1>
      <p class="mb-5">
        As a woman- and veteran-owned business, J+R Coastal Marketing brings discipline, creativity, 
      and collaboration to every campaign—working side by side with you to achieve remarkable 
      results.
      </p>
      <button class="btn btn-one">Let's Grow Together</button>
    </div>
  </div>
</div>