---
const fbIcon = "facebook";
import "./navbar.css";
---

<div class="navbar text-neutral-content">
  <div class="navbar-start">
    <div class="logo hidden lg:flex">
      <img src="src/assets/wholeLogo-light.png" alt="">
    </div>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a>Services</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a>Work</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-10">
      <li><a>Services</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
      <li><a>Work</a></li>
    </ul>
  </div>
  <div class="logo md:hidden">
    <img src="src/assets/logo_small.avif" alt="">
  </div>
  <div class="navbar-end">
    <a href="https://www.facebook.com/jrcoastalmarketingllc">
    <button class="btn btn-ghost btn-circle m-2">
      <svg 
          xmlns="http://www.w3.org/2000/svg" 
          class="h-10 w-10"
          fill="currentColor" 
          viewBox="0 0 24 24">
        <path 
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
      </svg>      
    </button>
  </a>
  <a href="">
    <button class="btn btn-ghost btn-circle m-3">
      <div class="indicator">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          class="h-10 w-10"
          fill="currentColor" 
          viewBox="0 0 24 24">
        <path 
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
        </svg>
      </div>
    </button>
  </a>
  </div>
</div>















